
.texta{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 3em;
  padding-top: 2em;
  font-size: 18px;
  color:#ffffff;
}
.p1 {
  display:block;

  margin-bottom: 2em;
  margin-right: 2em;
  text-align: right;
  color:#ffffff;
}

.p12 {
  display:block;

  margin-bottom: 2em;
  margin-right: 93%;
  text-align: right;
  color:#ffffff;
}
.p2 {
  color:#ffffff;
  margin-right: 2em;
  text-align: right;
}
