<!--
-->

<body>
<div>
  <p style="visibility: hidden"> Hello </p>
</div>
<mat-card  style="text-align: center; margin-left: 20px; margin-right: 20px; margin-top: 20px; background-color:#fafafa;  ">
  <mat-card-title >Edit Question</mat-card-title>
  <div>
    <hr>
    <div class="col-md-4" >
      <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="saveNewQst(profileForm.value)">
        <div class="form-group" style="margin-top: 2em" [ngClass]="{'error': !validateTitle()}" >

          <br>
          <label for="questionTitle">Question Title:</label>
<br>

          <input formControlName="questionTitle" id="questionTitle" type="text" class="form-control"
                 placeholder="Question Title..." style="margin-bottom: 2em; height: 100px; width: 400px"/>
          <em *ngIf="!validateTitle()" >Required</em>

        </div>


        <br>
        <div class="form-group" style="margin-top: 1em" [ngClass]="{'error': !validateText()}">
          <label for="questionText">Question Text:</label>
  <br>
          <input formControlName="questionText" id="questionText" type="text" class="form-control"
                 placeholder="Text..." style="margin-bottom: 2em; height: 300px; width: 700px"/>
          <em *ngIf="!validateText()">Required</em>
        </div>

        <div class="form-group" style="margin-top: 1em" [ngClass]="{'error': !validateTags()}">
          <label for="questionTags">Question Tags:</label>
          <br>
          <input formControlName="questionTags" id="questionTags" type="text" class="form-control"
                 placeholder="Tags..." style="margin-bottom: 2em; height: 100px; width: 700px"/>
          <em *ngIf="!validateTags()">Required</em>
        </div>



        <div style="margin-top: 1em">
          <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid" style="margin-left: 3em;">Save</button>
          <button mat-raised-button type="buttton" class="btn btn-primary" style="margin-left: 2em;" (click)="cancel()">Cancel</button>
        </div>
      </form>


    </div>


  </div>

</mat-card>
</body>
