<body style="height: 95vh">

<div>
  <p style="visibility: hidden"> Hello </p>
</div>
<div style ="margin-top: 2em">
<mat-card  style="text-align: center; margin-left: 20px; margin-right: 20px; ">
  <mat-card-title >Login</mat-card-title>




    <hr>
    <div class="col-md-4">
      <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"  novalidate>
        <div class="form-group" style="margin-top: 4em">
          <label for="username">User Name:</label>

          <input (ngModel)="username" required name="username" id="username" type="text" class="form-control" placeholder="User Name..." style="margin-left: 2em; margin-bottom: 2em"/>
          <em style="color:red"; *ngIf="loginForm.controls.username?.invalid && (loginForm.controls.username?.touched || mouseoverLogin )">Required</em>
        </div>
        <div class="form-group" >
          <label for="password">Password:</label>

          <input id="password" type="password" (ngModel)="password" required name="password" class="form-control"placeholder="Password..." style="margin-left: 2em; margin-bottom: 2em"/>
          <em  *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>

        </div>

        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false"></span>
        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary" color="primary">Login</button>
        <button mat-raised-button  type="button" (click) ="cancel()" class="btn btn-default" style="margin-left: 2em;"  color="primary">Cancel</button>
      </form>
    </div>


</mat-card>
</div>

</body>
