.heading{
  color:#000000;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 1em;
}

.textq{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  font-size: 18px;

}

.p1 {
  margin-left: 1em;
  color:#000000;
}
.p2 {
  color:#000000;
  margin-right: 5em;
  text-align: right;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-box
{
  background-color:white;
  color:#3f4ee1;
}
